/* Typography */
body {
    /* Everything is Playfair Display */
    font-family: 'Playfair Display', serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', serif;
  }
  .navbar-brand img {
    width: 50px;
    height: 50px;
  }
  .navbar-light .navbar-brand {
    color: red;
  }
  
  /* Navbar background color */
  .navbar {
    background-color: white;
  }
  .jumbotron {
    /* Background */
    background-attachment: scroll;
    background-image: url(hospital.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  /* The footer */
  .footer img {
    width: 50px;
  }